.card {
  width: 100%;
}

.card-white {
  background-color: white;
  margin: 15px;
  padding-bottom: 10px;
}

.card-white img {
  width: 90%;
  margin: 5% 5% 2.5% 5%;
}

.icon-row {
  color: grey;
  font-size: 12px;
  padding-right: 10px;
  text-align: right;
}

.icon-counter {
  margin-right: 5px;
}

.card-footer {
  display: inline-flex;
  padding: 0% 10%;
}
.card-footer img {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.card-footer p {
  margin: 0;
  font-size: 0.8em;
  font-family: 'Helvetica';
  padding: 0px 10px;
}