.splash-section {
  width: 100%;
  background: #252525;
  text-align: center;
  position: relative;
  margin-top: 0px;
}

.splash-section h2 {
  font-size: 1.2em;
  color: white;
  font-family: Arial;
  padding-top: 25px;
  margin: 0px;
}

.splash-section h3 {
  font-size: 1.2em;
  padding: 0 0 20px 0;
  color: #525051;
}

.splash-footer {
  background-color: #333333;
  height: 20px;
  width: 100%;
  padding: 25px 0 25px 0;
}

.splash-footer p {
  color: white;
  padding: 0;
  margin: 0;
}